h1 {
  font-size: 10vh;
  margin-top: 18vh;
}

h2 {
  font-size: 5.5vh;
  color: #DAC1A6;
  font-style: italic;
}

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pointer {
  cursor: pointer;
}

.FirstPage {
  text-align: center;
  background-color: #223342;
  color: white;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FirstPage .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 14vh;
}

.FirstPage .buttons:nth-child(2) {
  margin-left: 5vw;
  margin-right: 5vw;
}

.FirstPage .buttons h6 {
  font-size: 4vh;
  margin: 0;
}

.FirstPage .buttons i {
  margin-top: 2vh;
  font-size: 5vh;
}

.FirstPage .buttons i:hover {
  color: #c5a793;
}

section {
  background-color: #283C4E;
  color: white;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100%;
}

section h2 {
  margin-top: 10vh !important;
  color: white;
  text-transform: uppercase !important;
}

section a {
  text-decoration: none;
  color: #aaa5a5;
}

section .formation h3 {
  margin-top: 6vh;
  margin-bottom: 4vh;
}

section .formation h4 {
  margin-top: 0;
  margin-bottom: 0;
}

section .formation h5 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

section .formation .part1 {
  width: 60%;
  margin: auto;
  text-align: center;
}

section .formation .part1 h3 {
  font-size: 4.8vh;
  color: #c5a793;
}

section .formation .part1 h4 {
  font-size: 3.3vh;
}

section .formation .part1 h5 {
  font-size: 3vh;
}

section .formation .part2 {
  width: 100%;
  margin: auto;
  text-align: center;
}

section .formation .part2 h3 {
  font-size: 4.4vh;
  color: #c5a793;
}

section .formation .part2 h4 {
  font-size: 3vh;
}

section .formation .part2 h5 {
  font-size: 2.5vh;
}

section .formation .part2 .part2-1 {
  width: 80%;
}

section .formation .part2 .part2-2 {
  width: 80%;
}

section i {
  font-size: 5vh;
  position: absolute;
  top: 5vh;
  right: 4vw;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

section i:hover {
  color: #DAC1A6;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.opening {
  -webkit-animation: opening 1s 0s ease-in forwards;
          animation: opening 1s 0s ease-in forwards;
}

.closing {
  -webkit-animation: closing 1s 0s ease-in forwards;
          animation: closing 1s 0s ease-in forwards;
}

@-webkit-keyframes opening {
  0% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
}

@keyframes opening {
  0% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
}

@-webkit-keyframes closing {
  0% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
}

@keyframes closing {
  0% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
}

.up {
  -webkit-animation: up 0.5s 0.5s ease-in-out forwards;
          animation: up 0.5s 0.5s ease-in-out forwards;
}

.down {
  -webkit-animation: down 0.5s 0s ease-out forwards;
          animation: down 0.5s 0s ease-out forwards;
}

@-webkit-keyframes up {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes up {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@-webkit-keyframes down {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes down {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */