h1 {
  font-size: 9vh;
  margin-top: 18vh;
}

h2 {
  font-size: 5vh;
  color: #DAC1A6;
  font-style: italic;
}

.FirstPage {
  background-color: #223342;
  color: white;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FirstPage .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  background-color: #283C4E;
  color: white;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100%;
}

.opening {
  -webkit-animation: opening 1s 0s ease-in forwards;
          animation: opening 1s 0s ease-in forwards;
}

.closing {
  -webkit-animation: closing 1s 0s ease-in forwards;
          animation: closing 1s 0s ease-in forwards;
}

@-webkit-keyframes opening {
  0% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
}

@keyframes opening {
  0% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
}

@-webkit-keyframes closing {
  0% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
}

@keyframes closing {
  0% {
    -webkit-transform: perspective(100vh) rotateX(-30deg);
            transform: perspective(100vh) rotateX(-30deg);
  }
  100% {
    -webkit-transform: perspective(100vh) rotateX(0deg);
            transform: perspective(100vh) rotateX(0deg);
  }
}

.up {
  -webkit-animation: up 0.5s 0.5s ease-in-out forwards;
          animation: up 0.5s 0.5s ease-in-out forwards;
}

.down {
  -webkit-animation: down 0.5s 0s ease-out forwards;
          animation: down 0.5s 0s ease-out forwards;
}

@-webkit-keyframes up {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes up {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@-webkit-keyframes down {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes down {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
/*# sourceMappingURL=App.css.map */